@* Top navigation bar *@
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-2">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" href="/">
            <span class="logo-icon">immo</span><span class="logo-house">🏠</span><span class="logo-text">tech</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @*link to property list page *@
                <li class="nav-item"><a class="nav-link" href="/properties">À vendre</a></li>
                <li class="nav-item"><a class="nav-link" href="#">À louer</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Estimer</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Professionnels</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link fw-bold" href="/properties/create">Publier une annonce</a></li>
            </ul>

            <ul class="navbar-nav align-items-lg-center gap-2">
                <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Mon Immotech</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">FR</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                        <li><a class="dropdown-item" href="#">FR</a></li>
                        <li><a class="dropdown-item" href="#">NL</a></li>
                        <li><a class="dropdown-item" href="#">EN</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> 