@page "/properties/create"

@using Microsoft.AspNetCore.Components.Authorization
@using Immotech.Front.Services
@inject AuthenticationStateProvider Auth
@inject NavigationManager Nav

@* Wrapper page for create mode *@
<div class="container mx-auto">
    <PropertyForm />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // redirect to login if user not authenticated
        if (!await ((TokenAuthenticationStateProvider)Auth).CheckAuthenticatedAsync())
        {
            Nav.NavigateTo("/login", true);
        }
    }
} 