@inherits LayoutComponentBase
@using Immotech.Front.Shared
@using Blazored.Toast.Configuration

<NavBar />

<div class="content-wrapper">
    @Body
</div>

<Footer />

<!-- Toast notifications component -->
<BlazoredToasts Position="ToastPosition.TopRight" /> 